// Fix height of prepended labels.
.acf-input-prepend,
.acf-input-append {
  height: auto;
}

// Make textareas block elements so they don't have extra spacing underneath.
.acf-input textarea {
  display: block;
}

// Bigger borders between repeater rows (except for the first row).
.acf-repeater.-row > table > tbody > tr:nth-child(n+2) > td,
.acf-repeater.-block > table > tbody > tr:nth-child(n+2) > td {
  border-top: 12px solid #ddd;
}

// Top-align cell numbers in repeater rows.
.acf-repeater .acf-row-handle {
  font-weight: bold;
  padding-top: 15px !important;
  vertical-align: top !important;
}

// Custom row classes.
.acf-field {

  // Hidden fields.
  &.mm-hidden {
    display: none;
  }

  // Bold inputs.
  &.mm-bold {
    .acf-input input {
      font-weight: bold;
    }
  }

  // Bold inputs.
  &.mm-italic {
    .acf-input input {
      font-style: italic;
    }
  }

  // Uppercase inputs.
  &.mm-uppercase {
    .acf-input input {
      font-style: italic;
    }
  }

  // <code> inputs.
  &.mm-code {
    .acf-input input {
      font-family: monospace;
    }
  }

  // Centered inputs.
  &.mm-center {
    .acf-input input,
    .acf-input textarea,
    #tinymce body,
    .acf-input input p {
      text-align: center;
    }
  }

  // Big heading.
  &.mm-heading {
    .acf-input-wrap input {
      height: 40px;

      font-size: 26px;
      font-weight: bold;
    }
  }

  // Smaller heading.
  &.mm-subheading {
    .acf-input-wrap input {
      height: 32px;

      font-size: 20px;
      font-weight: bold;
    }
  }

  // For fields next to the subheading field, match the height.
  &.mm-height-match-subheading {
    .acf-input-wrap input {
      height: 32px;
    }
  }

  // Rounded border so it looks like a button.
  &.mm-button {
    .acf-input-wrap input {
      border-radius: 6px;
    }
  }

  // Inline labels.
  &.mm-inline-label {
    .acf-label {
      float: left;
      margin-top: 4px;
      margin-right: 2em;
      margin-bottom: 0;
    }
  }

  // Reduce space and line before related toggle.
  &.mm-related,
  &.mm-related > td {
    border-top: 0 !important;
    padding-top: 0 !important;

    .acf-checkbox-list label {
      display: block;
      margin-top: -5px;
      color: #666;
    }
  }

  // Indent field shown conditionally after a checkbox toggle.
  &.mm-after-toggle {
    .acf-input {
      padding-left: 20px !important;

      .acf-input-wrap {
        margin-top: -8px;
      }
    }
  }

  // Show instructions in a field suffix.
  &.mm-instructions-in-suffix {
    & > .acf-input-append {
      color: #aaa;
      font-size: 11px;
    }
  }

  // Hide instructions.
  &.mm-hide-instructions {
    & > .acf-label p.description,
    & > .acf-label p.description ~ p,
    & > .acf-label p.description ~ ol,
    & > .acf-label p.description ~ ul,
    & > .acf-label p.description ~ pre {
      display: none;
    }
  }

  // Small instructions.
  &.mm-instructions-small {
    & > .acf-label p.description {
      font-size: 11px;
    }
  }

  // Shorter heights for WYSIWYG fields.
  &.mm-wysiwyg-tiny {
    iframe,
    textarea {
      height: 90px !important;
      min-height: 90px !important;
    }
  }

  &.mm-wysiwyg-small {
    iframe,
    textarea {
      height: 150px !important;
      min-height: 150px !important;
    }
  }

  &.mm-wysiwyg-medium {
    iframe,
    textarea {
      height: 300px !important;
      min-height: 300px !important;
    }
  }

  // Taller heights for post lists in relationship fields.
  &.mm-relationship-list-medium {
    .acf-relationship .list {
      height: 250px;
    }
  }

  &.mm-relationship-list-large {
    .acf-relationship .list {
      height: 400px;
    }
  }

  // Negative top margin on WYSIWYG fields so that the field label fits in the
  // empty space to the left of the 'Visual' and 'Text' tabs.
  &.mm-wysiwyg-collapse-label {
    .acf-input {
      margin-top: -33px
    }
  }

  // No border around checklists.
  &.mm-no-border {
    .acf-input {

      // Remove border and scrolling from list of checkboxes.
      .categorychecklist-holder {
        border: 0;
        max-height: inherit;
      }

      // Align list of checkboxes with edge of field.
      .acf-checkbox-list {
        margin-top: -4px;
        padding: 0;
      }

      // Move (+) button in line with the checkboxes.
      .acf-icon {
        right: 0;
        top: 0;
      }
    }
  }

  // Rows of checkboxes.
  &.mm-checkbox-columns.columns-2 {
    .acf-input {
      .acf-checkbox-list {
        columns: 2;
      }
    }
  }

  &.mm-checkbox-columns.columns-3 {
    .acf-input {
      .acf-checkbox-list {
        columns: 3;
      }
    }
  }
}

// Hidden labels.
.acf-fields.-top .acf-field.mm-hide-label {
  // Only for the topmost label in this field.
  & > .acf-label {

    margin-bottom: 0;

    // Hide label.
    label {
      display: none;
    }

    // Still show field description/instructions.
    p.description {
      margin-top: 0 !important;
    }
  }
}

.acf-fields.-left .acf-field.mm-hide-label {
  // Remove false background and dividing line.
  &:before {
      display: none !important;
  }

  // Hide label.
  & > .acf-label {
    margin-bottom: 0;

    & label {
      display: none;
    }
  }

  // Make field now take up entire container.
  .acf-input {
    width: 100% !important;
  }
}

// Hide the repeater field label but not any of its children field labels.
.acf-field.mm-hide-repeater-label {
  // Remove false background and dividing line.
  &:before {
    display: none !important;
  }

  // Hide label.
  & > .acf-label {
    display: none;
  }

  // Make field now take up entire container.
  & > .acf-input {
    width: 100% !important;
  }
}

// Add top padding if first field is conditionally hidden.
.acf-field.acf-hidden:first-child + .acf-field.mm-related {
  padding-top: 12px !important;
}

// Reduce right margin on horizontal list items.
ul.acf-radio-list.acf-hl {
  li {
    margin-right: 15px;
  }

  // Remove right margin on final list item in horizontal lists.
  li:last-child {
    margin-right: 0;
  }
}

// Hide unnecessary 'Alt Text' and 'Description' fields in gallery image editor.
.acf-gallery-side-data tr[data-name="alt"],
.acf-gallery-side-data tr[data-name="description"] {
  display: none;
}

// Formatting of paragraphs and more in field descriptions.
.acf-field .acf-label {
  p {
    margin-top: 6px !important;
  }

  pre {
    margin: 8px 0 15px 0;
    padding: 5px 10px;

    background-color: #eee;
    border-radius: 5px;
  }
}

// Move minus buttons to the top of the column.
.acf-repeater .acf-row-handle .acf-icon.-minus {
  top: 30px !important;
}

// Hide TinyMCE advanced in WYSIWYG editor.
.acf-field.mm-hide-tinymce-advanced {
  & .mce-menubar[role="menubar"] {
    display: none;
  }
}

// Reduce vertical padding around message fields.
.acf-field.mm-reduce-message-padding {
  padding-top: 0;
  padding-bottom: 0;
}
